.spectehnika {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1vw;
  row-gap: 1vw;
  padding-left: 8vw;
}

.spectehnika div {
  width: 20vw;
  height: 40vh;
  border: 3px solid rgb(199, 181, 156);
  border-radius: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}

.spectehnika div img {
  width: 15vw;
}

.spectehnika div:hover {
  cursor: pointer;
  border: 3px solid rgb(87, 72, 53);
}

.techName {
  font-size: 1.2vw;
}

.chitdalP {
  font-size: 1vw;
}


.anchorDiv {
  width: 26vw;
  margin: 0 auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.anchorDiv h2 {
  font-size: 1.7vw;
}


//-----------------------------------------------------------------

.uslugi {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1vw;
  row-gap: 1vw;
  padding-left: 9vw;
  padding-bottom: 7vh;
}


.uslugi img {
  width: 18vw;
}

.uslugi div {
  width: 40vw;
  height: 40vh;
  background-color: antiquewhite;
  border: 3px solid rgb(199, 181, 156);
  border-radius: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}

.uslugi div:hover {
  cursor: pointer;
  border: 3px solid rgb(53, 44, 32);
  background-color: rgb(221, 205, 184);
}