.spectechnikaPage {
  width: 64vw;
  height: 84vh;
  background-color: rgb(209, 239, 229);
}


.spectechImage {
  width: 50%;
}

.backBtn {
  width: 4vw;
  height: 5vh;
  background-color: aquamarine;
  margin: 0 auto;
}