.spectechnikaPage {
  max-width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

.spectechnikaPage h2 {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.spectechImage {
  width: 25vw;
  margin-left: 5vw;
  margin-bottom: 1vw;
}

.navlinks {
  display: inline-block;
  margin-left: 40vw;
}

.navlinks a {
  display: block;
  color: black;
  font-size: 1vw;
  line-height: 1.6vw;
}

.spectechnikaPagePreisP {
  width: 20vw;
  margin: auto;
  font-size: 1.6vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.backBtn {
  width: 4vw;
  height: 5vh;
  background-color: aquamarine;
  margin: 0 auto;
}

.spectechnikaDeskription {
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  line-height: 1.6vw;
  font-size: 1.2vw;
}