/* Zeroing */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* border-box -   width = border + padding + content-width (div width is independant from content-width) */
}

a {
  text-decoration: none;
}

a:visited {
  color: gold;
}

ul,
ol,
li {
  list-style: none;
  /* none - removes bullet/points/svg-images signs from li elements of ul/ol */
}

img {
  vertical-align: middle;
  /* top - to vertically position an image in a line of text */
}





//fonts------------------------------------------------------------------------------------------------


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

//------------------------------------------------------------------------------------------------------

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;;
}


.anchorDiv {
  width: 5vw;
  margin: 0 auto;
}




//header-----------------------------------------------------------------------------------------------


header {
  max-width: 100vw;
  //min-height: 70vh;
  // background-image: url(./assets/img/bg2.png);
  // background-size: cover;
  // background-repeat: no-repeat;
}

.headerImage {
  max-width: 100vw;
}

.logotip {
  max-width: 60vw;
  height: 5vh;
  margin: 0 auto;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
}

.logotip h2 {
  font-size: 1.8vw;
  color: gold;
  -webkit-text-stroke: 0.1px black;
  transition: all ease-in-out 0.5s;
}

.menu1 {
  width: 20vw;
  position: absolute;
  top: 15vh;
  left: 5vw;
}

.menu2 {
  width: 20vw;
  position: absolute;
  top: 15vh;
  right: 7vw;
}

.menu2 a, .menu1 a {
  font-style: italic;
  font-size: 2.5vw;
  font-weight: 600;
  color: gold;
  -webkit-text-stroke: 0.01px black;
  transition: all ease-in-out 0.5s;
}

.menuDiv {
  margin-bottom: 11vh;
  text-align: center;
}

.menu1 a:hover,
.menu2 a:hover {
  color: rgb(255, 111, 0);
}




//section description---------------------------------------------------------------------------------

.description {
  max-width: 100vw;
  margin-top: 2.5vh;
}

.descriptionDiv {
  max-width: 90vw;
  margin: 0 auto;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  column-gap: 9vw;
  padding-top: 1vh;
}

.descrDivP {
  font-size: 1vw;
}

.phone {
  font-size: 1.5vw;
  color: rgb(249, 94, 4);
}

.email {
  font-size: 1.3vw;
  color: rgb(249, 94, 4);
}

.descrDivP,
.phone,
.email {
  margin-bottom: 1vh;
}

.descriptionRightDiv {
  margin-top: 1.7vh;
}

.descrP {
  font-size: 1vw;
  margin-bottom: 1.1vh;
}

.descrH2 {
  max-width: 70vw;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.descrH2 h2{
  font-family: 'Roboto', sans-serif;;
  font-size: 1.7vw;
}





//main------------------------------------------------------------------------------------------------

main {
  max-width: 100vw;
  background-color: #ffffff;
  margin-top: 2vh;

}

#root {
  max-width: 100vw;
}


//goes later to StartPage.scss----------------------------------------------





//----------------------------------------------




//section icons-------------------------------------------------------------------------------------

.iconsSection {
  max-width: 100vw;
  display: flex;
  column-gap: 8vw;
  padding-left: 21vw;
  background-color: #ffffff;
  padding-top: 4vw;
  padding-bottom: 8vw;
}

.iconsSection div {
  width: 5vw;
  height: 20vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.iconsSection img {
  width: 4vw;
  filter: invert(15%) sepia(77%) saturate(481%) hue-rotate(353deg) brightness(96%) contrast(94%);
  transition: all ease-in-out 0.5s;
}

.iconsSection img:hover {
  width: 5vw;
  cursor: pointer;
}

.iconsSection p {
  font-size: 1.2vw;
  text-align: center;
  line-height: 1.8vw;
  margin-top: 2vw;
}

//section prices-------------------------------------------------------------------------------------

.prices {
  max-width: 100vw;
}

.pricesH2 {
  width: 5vw;
  margin: 0 auto;
}

.priceDivs {
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2vw;
  row-gap: 2vw;
  padding-left: 6.5vw;
  padding-bottom: 2vh;
}

.priceDivs div {
  width: 20vw;
  height: 30vh;
  background-color: #ffffff;
  border: 3px solid rgb(199, 181, 156);
  border-radius: 15px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.priceDivs div:hover {
  cursor: pointer;
}

// .changecolor {
//   transition: all ease-in-out 0.5s;
// }

// .priceDivs div:hover .changecolor {
//   color: rgb(248, 12, 146);
// }

.priceDivs p {
  font-size: 1.3vw;
  letter-spacing: 0.1vw;
  text-align: center;
}

.priceDivs span {
  font-size: 1.3vw;
  font-weight: 700;
  color: rgb(248, 12, 146);
}

.ekskovatorPogrDiv img,
.samosvalDiv img,
.bulldozerDiv img,
.ekskavatorDiv img,
.frontalDiv img,
.avtokranDiv img,
.manipulatorDiv img,
.jamoburDiv img,
.planirovkaDiv img,
.kopkaDiv img,
.demontazhDiv img,
.uborkaDiv img {
  width: 10vw;
}



//footer------------------------------------------------------------------------------------------------

footer {
  max-width: 100vw;
  background-color: rgb(221, 205, 184);
  margin-top: 2vw;
}

.footDivWrapper {
  max-width: 100vw;
  display: flex;
  column-gap: 3vw;
  margin-left: 16vw;
}

.footDiv {
  width: 20vw;
  display: grid;
  justify-items: center;
  align-items: center;
}

.footP {
  font-size: 1.4vw;
  text-align: center;
  color: rgb(42, 20, 20);
}

.footPcontact {
  color: rgb(249, 94, 4);
}

.footFirstP {
  font-size: 1.6vw;
  text-decoration: underline;
}

.footDiv p {
  margin-bottom: 1.5vh;
}























//------------------------------------------------------------
@media screen and (max-width: 1400px) {
  .menu1 {
    top: 11vh;
    left: 5vw;
  }

  .menu2 {
    top: 13vh;
    right: 5vw;
  }

  .menuDiv {
    margin-bottom: 7vh;
  }

  .menu1 a, .menu2 a {
    font-size: 3vw;
  }

  //.description section-------------------------------------------

  .descriptionDiv {
    margin-left: 7vw;
  }

  .logotip {
    margin-bottom: 1.5vh;
  }

  .logotip h2 {
    font-size: 2.2vw;
  }

  .descrDivP, .descrP {
    font-size: 1.3vw;
  }

  //icons section-------------------------------------------

  .iconsSection img {
    width: 6vw;
  }

  .iconsSection p {
    font-size: 1.5vw;
  }


  //prices section--------------------------------------------

  .priceDivs div img {
    width: 14vw;
  }

  .priceDivs p {
    font-size: 1.4vw;
    text-align: center;
  }

  .priceDivs span {
    font-size: 1.5vw;
  }


  //footer section--------------------------------------------

  .footFirstP {
    font-size: 1.7vw;
  }

  .footP {
    font-size: 1.4vw;
  }

}















//------------------------------------------------------------
@media screen and (max-width: 1024px) {
  .menu1 {
    top: 7vh;
    left: 4.5vw;
  }

  .menu2 {
    top: 9vh;
    right: 5vw;
  }

  .menuDiv {
    margin-bottom: 5vh;
  }


  //.description section-------------------------------------------

  .descriptionDiv {
    margin-left: 5vw;
  }

  .logotip {
    margin-bottom: 1vh;
  }

  .logotip h2 {
    font-size: 2.3vw;
  }

  .descrDivP, .descrP {
    font-size: 1.5vw;
  }

  .descrH2 h2 {
    font-size: 2vw;
    text-align: center;
  }

  //icons section-------------------------------------------

  .iconsSection {
    padding-top: 0vh;
    padding-bottom: 4vh;
  }

  .iconsSection img {
    width: 7vw;
  }

  .iconsSection p {
    font-size: 1.8vw;
  }


  //prices section--------------------------------------------

  .priceDivs div img {
    width: 16vw;
  }

  .priceDivs p {
    font-size: 1.6vw;
    text-align: center;
  }

  .priceDivs span {
    font-size: 1.7vw;
  }


  //footer section--------------------------------------------

  .footFirstP {
    font-size: 2vw;
  }

  .footP {
    font-size: 1.8vw;
  }
}















//------------------------------------------------------------
@media screen and (max-width: 768px) {
  .menu1 {
    top: 5vh;
    left: 2vw;
    width: 25vw;
  }

  .menu2 {
    top: 7vh;
    right: 5vw;
  }

  .menuDiv {
    margin-bottom: 4vh;
  }

  .menu1 a, .menu2 a {
    font-size: 3.5vw;
  }

  .description {
    margin-top: 3vh;
  }

  .descrH2 h2 {
    font-size: 2.1vw;
  }

  .logotip {
    max-width: 60vw;
    height: 5vh;
    margin-bottom: 0vh;
  }

  .logotip h2 {
    font-size: 2.5vw;
  }


  .descriptionDiv {
    flex-direction: column;
    margin-left: 0vw;
    max-width: 100%;
  }

  .descriptionDiv div {
    display: grid;
    justify-content: center;
  }

  .descriptionDiv div p {
    font-size: 2vw;
    text-align: center;
  }


  .iconsSection {
    display: none;
  }


  .priceDivs div {
    width: 45%;
    height: 20vh;
  }

  .priceDivs div p {
    font-size: 2.5vw;
  }

  .priceDivs div img {
    width: 20vw;
  }

  .priceDivs span {
    font-size: 3vw;
  }



  .footDivWrapper {
    flex-direction: column;
    margin: 0 auto;
    max-width: 100vw;
  }

  .footDiv {
    width: 100%;
  }

  .footFirstP {
    font-size: 3vw;
  }

  .footP {
    font-size: 2.5vw;
  }

}














//------------------------------------------------------------
@media screen and (max-width: 550px) {
  .menu1 {
    top: 4vh;
    left: 2vw;
  }

  .menu2 {
    top: 5vh;
    right: 5vw;
  }

  .menuDiv {
    margin-bottom: 4vh;
  }


  //.description section-------------------------------------------

  .description {
    margin-top: 1.6vh;
  }

  .descrH2 {
    margin-bottom: 0.5vh;
  }

  .descrH2 h2 {
    font-size: 2.3vw;
  }

  .logotip {
    height: 3.5vh;
  }

  .logotip h2 {
    font-size: 2.8vw;
  }

  .descriptionDiv div p {
    font-size: 2.3vw;
  }


  //prices section--------------------------------------------


  .priceDivs div p {
    font-size: 2.7vw;
    text-align: center;
  }

  .priceDivs div span {
    font-size: 2.9vw;
  }


  //footer section--------------------------------------------

  .footFirstP {
    font-size: 3.4vw;
  }

  .footP {
    font-size: 3.2vw;
  }
}













//------------------------------------------------------------
@media screen and (max-width: 468px) {
  .menu1 {
    top: 4vh;
    left: 2vw;
  }

  .menu2 {
    top: 5vh;
    right: 3vw;
  }

  .menuDiv {
    margin-bottom: 2.5vh;
  }


  //.description section-------------------------------------------

  .logotip h2 {
    font-size: 2.9vw;
  }

  .descrH2 h2 {
    font-size: 2.5vw;
  }

  .descriptionDiv div p {
    font-size: 2.5vw;
  }


  //prices section--------------------------------------------

  .prices {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .priceDivs {
    padding-left: 0vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .priceDivs div {
    width: 70%;
    
  }

  .priceDivs div img {
    width: 30vw;
  }

  .priceDivs div p {
    font-size: 3.4vw;
    text-align: center;
  }

  .priceDivs div span {
    font-size: 3.6vw;
  }


  //footer section--------------------------------------------

  .footFirstP {
    font-size: 4vw;
  }

  .footP {
    font-size: 3.8vw;
  }

}















//------------------------------------------------------------
@media screen and (max-width: 420px) {
  .menu1 {
    top: 3vh;
    left: 2vw;
  }

  .menu2 {
    top: 4vh;
    right: 3vw;
  }

  .menuDiv {
    margin-bottom: 2.5vh;
  }

  //.description section-------------------------------------------

  .description {
    margin-top: 1.3vh;
  }

  .logotip h2 {
    font-size: 3vw;
  }

  .descriptionDiv div p {
    font-size: 2.7vw;
    text-align: center;
  }


  //prices section--------------------------------------------


  .priceDivs div img {
    width: 34vw;
  }

  .priceDivs div p {
    font-size: 3.8vw;
    text-align: center;
  }

  .priceDivs div span {
    font-size: 4vw;
  }


  //footer section--------------------------------------------

  .footFirstP {
    font-size: 4.4vw;
  }

  .footP {
    font-size: 4.2vw;
  }

}

















//------------------------------------------------------------
@media screen and (max-width: 360px) {
  .menu1 {
    top: 1vh;
    left: 2vw;
  }

  .menu2 {
    top: 2vh;
    right: 3vw;
  }

  .menuDiv {
    margin-bottom: 2vh;
  }

  .menu1 a, .menu2 a {
    font-size: 4.2vw;
  }


  //.description section-------------------------------------------
  
  .description {
    margin-top: 1.1vh;
  }

  .descrH2 h2 {
    font-size: 4.2vw;
  }

  .logotip {
    height: 2.6vh;
  }
  .logotip h2 {
    font-size: 4.2vw;
  }

  .descriptionDiv div p {
    font-size: 4.2vw;
  }


  //prices section--------------------------------------------


  .priceDivs div img {
    width: 38vw;
  }

  .priceDivs div p {
    font-size: 4.2vw;
    text-align: center;
  }

  .priceDivs div span {
    font-size: 4.4vw;
  }


  //footer section--------------------------------------------

  .footFirstP {
    font-size: 4.7vw;
  }

  .footP {
    font-size: 4.5vw;
  }
}
















//------------------------------------------------------------
@media screen and (max-width: 420px) {



  .descriptionDiv {
    flex-direction: column;
    margin-left: 0vw;
    max-width: 100%;
  }

  .descriptionDiv div {
    display: grid;
    justify-content: center;
  }


  .iconsSection {
    display: none;
  }


  .footDivWrapper {
    flex-direction: column;
    margin: 0 auto;
    max-width: 100vw;
  }

  .footDiv {
    width: 100%;
  }

}